= form_for [@video, @video_track], html: { class: "main-content new-video-form padded-form quill-form" } do |f|
  = error_messages_for(@video_track)
  = f.hidden_field :user_id, value: current_user.id if current_user
  = f.hidden_field :video_id, value: params[:video_id]
  %legend Create Video Track
  .form-group
    = f.label :title, "Title"
    = f.text_field :title, required: true, placeholder: 'Video Track Title', class: 'form-control'
  .form-group
    = f.label :link_url, "Video URL"
    = f.text_field :link_url, required: true, placeholder: 'Video URL', class: 'form-control'
  .row
    .col-sm-4.col-sm-offset-8
      - if action_name == 'new' || action_name == 'create'
        = f.submit "Create Video Track", class: "btn btn-primary"
      - else
        = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", request.referrer, class: "btn btn-secondry"
