.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Playlists', root_path
          %li.active= @video.title
    .video_part
      = render 'video_part'
= javascript_tag do
  jsonstr = '#{raw @video.video_tracks.select(:id, :title, :track_no, :parent_id).as_json}';
