.col-sm-3.search-filters.main-content.cards-list
  = form_tag search_novels_path, method: :patch, remote: true, id: "search_form", class: 'padded-form' do |f|
    %legend Filters
    .form-group
      - Genre.all.each do |genre|
        .checkbox
          %label
            = check_box_tag "#{genre.id}", genre.id
            = genre.name.titleize
    = hidden_field_tag 'search', params[:search]
    = submit_tag 'Filter', class: 'btn btn-default'
