.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Novels', root_path
          %li.active= @novel.title
    .novel_part
      = render 'novel_part'
= javascript_tag do
  / jsonstr2 = '#{raw @novel.chapters.select(:id, :title, :chapter_no, :parent_id).as_json}';
  jsonstr = '[#{raw (@novel.chapters.map{|chapter| '{"id"=>' + chapter.id.to_s + ', "parent_id"=>"' + chapter.parent_id.to_s + '", "title"=>"' + chapter.title + '", "chapter_no"=>' + chapter.chapter_no.to_s + ', "likes"=>' + chapter.likes.to_s + '}'}.inject(){|jsonstr, chapter_str| jsonstr + ',' + chapter_str})}]';
  - if params[:selected_chapter_id]
    / selected_chapter_likes = '#{Chapter.find_by_id(params[:selected_chapter_id]).likes}';
    selected_chapter_id = '#{params[:selected_chapter_id]}';
