.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Novels', root_path
          %li.active= @novel.title
    .row.about-novel
      .col-sm-3.novel-img
        = image_tag @novel.cover_photo.profile
      .col-sm-9
        .novel-heading
          %p.label.danger 18+
          %h1= @novel.title
        .novel-description
          %p= @novel.abstract
          .extra-info
            %p
              Authored by:
              = link_to @novel.user.name, user_path(@novel.user), class: 'author'
            %p.date
              Created at:
              = l @novel.created_at.to_date, format: :long
            %p.likes
              Likes:
              = @novel.likes
    -if @novel.chapters.any?
      .row
        -@grouped_chapters.each do |key, value|
          .col-sm-2
            %h5.v-center
              Chapter
              = key
              Versions
          .col-sm-10
            .slider{:class => '.slider-' + key.to_s, "data-chapter-number" => key.to_s}
              -value.each do|chapter|
                .slide
                  .slide-content
                    %h5
                    = chapter.title
                    .extra-info
                      .row.text-center
                        %p.col-sm-2
                          Author:
                          .col-sm-4
                            = link_to chapter.user.name, user_path(chapter.user.name)
                      .row
                        %p.date.col-sm-2
                          Created at:
                          .col-sm-4
                            = l chapter.created_at.to_date, format: :long
                      .row
                        %p.likes.col-sm-2
                          = chapter.likes
                          .col-sm-4
                            likes

= javascript_tag do
  jsonstr = '#{raw @novel.chapters.select(:id, :title, :chapter_no, :parent_id).as_json}';

