.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Novels', root_path
          %li.active= @novel.title
    .row.about-novel
      .col-sm-3.novel-img
        = image_tag @novel.cover_photo.profile
      .col-sm-9
        .novel-heading
          %p.label.danger 18+
          %h1= @novel.title
        .novel-description
          %p= @novel.abstract
          .extra-info
            %p
              Authored by:
              = link_to @novel.user.name, user_path(@novel.user), class: 'author'
            %p.date
              Created at:
              = l @novel.created_at.to_date, format: :long
            %p.likes
              Likes:
              = @novel.likes
    -if @novel.chapters.any?
      .row
        -@grouped_chapters.each do |key, value|
          .col-sm-2
            %h5.v-center
              Chapter 
              = key
              Versions
          .col-sm-10
            .slider{:class => '.slider-' + key.to_s, "data-chapter-number" => key.to_s}
              -value.each do|chapter|
                .slide
                  .slide-content
                    %h5 
                    = chapter.title
                    .extra-info
                      %p
                        Author:
                        %a.author{:href => "#"} 
                        = chapter.user.user_name
                      %p.date
                        Created at:
                        = chapter.created_at
                      %p.likes 
                        = chapter.liked_chapters.count
                        likes
                      = link_to "Create next chapter", new_novel_chapter_path(@novel, parent_chapter_id: chapter.id), class: "btn btn-primary"
                      = link_to "Create new version", new_novel_chapter_path(@novel, parent_chapter_id: chapter.parent_id), class: "btn btn-secondry"
                      = link_to "Like", like_chapter_users_path, class: "btn btn-danger"

= javascript_tag do
  jsonstr = '#{raw @novel.chapters.select(:id, :title, :chapter_no, :parent_id).as_json}';

