.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Novels', root_path
          %li.active= @novel.title
    .novel_part
      = render 'novel_part'
= javascript_tag do
  jsonstr = '#{raw @novel.chapters.select(:id, :title, :chapter_no, :parent_id).as_json}';
  jsonstr2 = '#{raw (@novel.chapters.map{|chapter| [chapter.id, chapter.title, chapter.chapter_no, chapter.likes]})}';
  - if params[:selected_chapter_id]
    selected_chapter_likes = '#{Chapter.find_by_id(params[:selected_chapter_id]).likes}';
    selected_chapter_id = '#{params[:selected_chapter_id]}';
