.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to @novel.title, novel_path(@novel)
          - if @chapter.parent.present?
            %li
              = link_to @chapter.parent.title, novel_chapter_path(@novel, @chapter.parent)
            %li.active=  "Create Chapter #{@chapter.parent.chapter_no + 1}"
          - else
            %li.active Create Chapter 1
    .row
      .col-sm-8.col-sm-offset-2
        = render 'form'
