.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Novels', root_path
          %li
            = link_to @novel.title, novel_path(@novel)
          - if @chapter.parent
            %li
              = "..."
            %li
              = link_to @chapter.parent.title, novel_chapter_path(@novel, @chapter.parent)
            %li.active= @chapter.title
      - if @chapter.user == current_user
        .col-sm-1
          = link_to "Edit", edit_novel_chapter_path(@novel, @chapter), class: "btn btn-primary"
      - if @chapter.chapter_no != 1
        .col-sm-2
          = link_to "Create new version", new_novel_chapter_path(@novel, parent_chapter_id: @chapter.parent_id), class: "btn btn-primary"
      .col-sm-2
        = link_to "Create next chapter", new_novel_chapter_path(@novel, parent_chapter_id: @chapter.id), class: "btn btn-primary"
      .col-sm-7
        .row.chapter_actions
          = render 'chapter_actions'
    .row.about-novel
      .col-sm-9
        .chapter-title
          %h1= @chapter.title
        .chapter-abstract
          %p= @chapter.abstract
        .chapter-content
          %p= @chapter.content
