.fluid-container.main-container
  .container
    .row
      .col-sm-12.page-title
        %h1
      .col-sm-12
        %ol.breadcrumb
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Novels', root_path
          %li
            = link_to @novel.title, novel_path(@novel)
          %li.active= @chapter.title
    = link_to "Create next chapter", new_novel_chapter_path(@novel, parent_chapter_id: @chapter.id), class: "btn btn-primary"
    = link_to "Create new version", new_novel_chapter_path(@novel, parent_chapter_id: @chapter.parent_id), class: "btn btn-secondry"
    .chapter_actions
      = render 'chapter_actions'
    .row.about-novel
      .col-sm-9
        .chapter-title
          %h1= @chapter.title
        .chapter-abstract
          %p= @chapter.abstract
        .chapter-content
          %p= @chapter.content
