%header.home
  .container-fluid
    .row
      .col-sm-12
        %nav.navbar.navbar-default{:role => "navigation"}
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand' do
              = image_tag 'logo.png'
          .collapse.navbar-collapse.navbar-ex1-collapse.nav-section
            %ul.nav.navbar-nav
              %li.active
                = link_to 'Home', root_path
              %li.dropdown
                %a#about-menu.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => "#"}
                  Novels
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "about-menu", :role => "menu"}
                  - if current_user
                    %li{:role => "presentation"}
                      = link_to 'My Readings', my_readings_user_path(current_user)
                    %li{:role => "presentation"}
                      = link_to 'My Writings', my_writings_user_path(current_user)
                  %li{:role => "presentation"}
                    = link_to 'All Novels', root_path
              %li
                %a{:href => "#"} Audio
              %li
                %a{:href => "#"} About
              %li
                %a{:href => "#"} Contact
            .col-sm-3.col-md-3.navbar-search
              = form_tag search_novels_path, method: :patch, id: "search_form" do
                .input-group
                  = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Author / Title / Genre'
                  / %input#srch-term.form-control{:name => "srch-term", :placeholder => "Author / Title / Genre", :type => "text"}/
                  .input-group-btn
                    %button.btn.btn-default{:type => "submit"}
                      %i.glyphicon.glyphicon-search
            - unless user_signed_in?
              .col-sm-2.pull-right.nav-section.navbar-login
                = link_to "Log In", new_user_session_path, class: 'btn btn-primary'
                = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
            - else
              .col-sm-1.col-md-1.pull-right.navbar-user
                .dropdown
                  %a#profile-menu.profile.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => "#"}
                    = image_tag current_user.profile_picture.icon
                    %span.caret
                  %ul.dropdown-menu{"aria-labelledby" => "profile-menu", :role => "menu"}
                    %li{:role => "presentation"}
                      = link_to 'My Account', user_path(current_user), {:role => "menuitem", :tabindex => "-1"}
                    %li{:role => "presentation"}
                      = link_to 'Logout', destroy_user_session_path, {method: :delete, :role => "menuitem", :tabindex => "-1"}
