!!!
%html
  %head
    %title Art of Works
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    %body
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
    = javascript_include_tag "application"
    = toastr_flash_messages
